page-verification {
  img {
    margin-top: 16vh;
    width: 65vw;
  }
  p, span {
    font-weight: bold;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    color: color($colors, robust);
    span {
      color: color($colors, steel);
    }
  }
}
