<ion-header>
  <ion-navbar color="primary">
    <ion-title>Browse</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row text-center class="buttons">
    <ion-col col-6 tappable (click)="mode = 0">
      <b>Upcoming</b>
    </ion-col>
    <ion-col col-6 tappable (click)="mode = 1">
      <b>Trending</b>
    </ion-col>
  </ion-row>
  <div *ngIf="mode == 0">
    <div *ngIf="events && (events | openEvents).length == 0" text-center margin-top padding-top padding-bottom class="empty">
      <ion-icon name="md-sad" no-margin no-padding></ion-icon>
      <h5 no-margin no-padding><b>No Events</b></h5>
      <p no-margin no-padding>Sorry! There are no events to show right now.</p>
    </div>
    <event *ngFor="let event of events | openEvents ; trackBy: itemTrackBy" [data]="event"></event>
  </div>
  <div *ngIf="mode == 1">
    <div *ngIf="events && (events | trendingEvents).length == 0" text-center margin-top padding-top padding-bottom class="empty">
      <ion-icon name="md-sad" no-margin no-padding></ion-icon>
      <h5 no-margin no-padding><b>No Events</b></h5>
      <p no-margin no-padding>Sorry! There are no events to show right now.</p>
    </div>
    <event *ngFor="let event of events | trendingEvents ; trackBy: itemTrackBy" [data]="event"></event>
  </div>
</ion-content>
