<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll">
  <div class="welcome">
    <p no-margin no-padding *ngIf="slides.isBeginning()">{{ 'WELCOME_TO' | translate }}</p>
    <p no-margin no-padding *ngIf="!slides.isBeginning()">&nbsp;</p>
    <h1 no-margin no-padding><b>{{title}}</b></h1>
    <img src="assets/images/logo.png" no-margin no-padding/>
  </div>
  <ion-slides no-padding pager (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <p><b>PubParty</b> {{ 'INTRO_1A' | translate }}<br><br>{{ 'INTRO_1B' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <p>{{ 'INTRO_2A' | translate }}<br><br>{{ 'INTRO_2B' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <p>{{ 'INTRO_3' | translate }}</p>
      <div padding-left padding-right>
        <button ion-button block margin-bottom color="facebook" (click)="loginFacebook()">{{ 'CONTINUE_WITH_FACEBOOK' | translate }}</button>
        <button ion-button block color="google" (click)="loginGoogle()">{{ 'CONTINUE_WITH_GOOGLE' | translate }}</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
