page-add-event {
  .scroll-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/bg-splash.jpg);
    text-align: center;
  }
  ion-slides {
    height: 33vh;
    ion-slide {
      div.overlay-image:after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 1;
        display: block;
        background-image: linear-gradient(0, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%);
      }
      img {
        object-fit: cover !important;
        width: 100vw !important;
        height: 100vw !important;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background: color($colors, light) !important;
  }
  .swiper-pagination-bullet {
    background: color($colors, primary);
    opacity: 1;
  }
  
  ion-content {
    img {
      height: 33vh;
      width: 100vw;
      object-fit: cover;
    }
  }
  p {
    color: color($colors, light);
  }
  ion-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/bg-splash.jpg);
    text-align: center;
  }
  ion-item {
    border: solid 1px color($colors, light) !important;
    margin-bottom: 0.8rem !important;
    border-radius: 12px !important;
    width: 90vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
    ion-range {
      ion-icon {
        font-size: 175%;
      }
    }
  }
  button.location {
    border-radius: 12px !important;
    margin-bottom: 0.8rem !important;
  }
}
